*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: sans-serif;
}
body {
    z-index: -10;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(pink,blue);
}
.turn-abacus {
    width: 100%;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    
    background: linear-gradient(rgb(155, 104, 39),rgb(241, 147, 124));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.turn-abacus h1 {
    font-size: 30px;
    margin-right: 1vw;
}
.turning-location {
    background-color: rgba(163, 126, 52, 0.718);
    
    border: 2px solid rgb(93, 63, 24);
    height: 20px;
    width: 40px;
    border-radius: 3vh;
    display: flex;
    align-items: center;

}
.turning-location.mode-changed {
    justify-content: right;
}

.turning-btn {
    height: 18px;
    width: 18px;
    background-color: rgba(115, 61, 32, 0.473);
    border: 0.5px solid black;
    border-radius: 50%;
    display: block;
    z-index: 10;
    cursor: grab;
}


input {
    background-color: palegoldenrod;
}

.input-setting div{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.input-setting a {
    position: relative;
    left: 50%;
    
}

.input-setting a, .question-answer-response div a {
    font-size: 21px;
    background-color: rgb(78, 152, 220);
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 600;
    cursor: grab;
    min-width: 10vw;
    text-align: center;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-left: 1vw;
    margin-right: 1vw; */
}
.input-setting div a:hover, .question-answer-response div a:hover {
    color:rgb(78, 152, 220);
    background-color: white;
}

p {
    font-size: 1.7vh;
    color: aliceblue;
}
.question-answer-response  {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 320px;
}
#question {
    background-color: palegoldenrod;
    min-width: 20vw;
    min-height: 10vh;
    border: 1px solid black;
    margin: 10px 20px 10px;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#question div {
    margin: 5px 20px 5px;
}

.quesiton-answer-response div{
    display: flex;
}

#answer {
    font-size: 21px;
    margin-right: 5px;
}
.answer-row p {
    font-size: 18px;
}

#fa {
    display: none;
}



#logoutbtn {
    background-color:rgba(119, 136, 153, 0.306);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#nav {
    width: 0px;
    position: absolute;
    right: 0;
    bottom: 0px;
}


.register-input label, .login-input label{
    margin-top: 20px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    
}

.login-input label

.submitBtn {
    font-size: 18px;
    background-color: rgb(78, 152, 220);
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 600;
    cursor: grab;
    min-width: 10vw;
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 8px
}



@media (max-width: 1100px) {
    #fa {
        display: inline;
    }
    .fa.fa-bars {
        font-size: 5vh;
        display: none;
    }
    .fa.fa-bars.show {
        display: block;
        position: fixed;
    }
    .turn-abacus.hide {
        display: none;
    }
    .input-setting{
        font-size: 15px;
    }
    .input-setting.hide {
        display: none;
    }
    .input-setting input {
        font-size: 28px;
    }
    .input-setting div {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5vh;
    }
    .input-setting div h1 {
        text-align: center;
    }
    .input-setting div a {
        font-size: 30px;
        margin-top: 2vh;
        padding-left: 15px;
        padding-right: 15px;
    }
    .question-answer-response div h1{
        font-size: 30px;
    }
    
    .question-answer-response.start {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .question-answer-response.start div h1 {
        font-size: 25px;
    }
    .question-answer-response.start #question, .question-answer-response.start #question div {
        font-size: 30px;
    }
    .answer-row {
        display: flex;
        align-items: center;
    }
    .answer-row h1 {
        font-size: 30px;
        color: white;
    }
    .answer-row input, .answer-row a {
        height: 30px;
        
    }
    .answer-row input {
        font-size: 32px;
        max-width: 100px;
    }
    .answer-row a {
        font-size: 20px;
        padding-left: 1vh;
        padding-right: 1vh;
        display: flex;
        align-items: center;
    }
    .answer-row p {
        font-size: 20px;
    }
}

